*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
}

footer{
    height: 10vh;
    background-color: aqua; /* da eliminare */
}

div.logo > img{
    width: 60%;
}

div.useless p{
    margin: 7% 0 ;
}

nav.flex-column{
    height: 88%;
    justify-content: space-between;
}

/* common class */
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.width-perc-full{
    width: 100%;
}

.view-height{
    height: 90vh;
}

.row-height-perc{
    height: 12%;
}

.weight-seven{
    font-weight: 700;
}

.txt-upp{
    text-transform: uppercase;
}

.fa-home,
.fa-search,
.fa-list,
.fa-user-circle{
    font-size: 1.5rem;
}

.top-spacing-perc{
    margin-top: 6%;
    height: 52%;
}

.fa-plus-square{
    font-size: 2.8rem;
    margin-top: 2%;
}

.fa-home,
.fa-search,
.fa-list,
.fa-plus-square,
.fa-arrow-alt-circle-down,
.fa-user-circle{
    margin-right: 3%;
}

.multiple-margin{
    margin: 0 0 4% 6%;
}

.line{
    width: 92%;
    border-bottom: 2px solid gray;
    padding-bottom: 3%;
}

.user-name{
    padding-top: 1%;
}

/* container class */
.container-left{
    background-color: blue; /* da togliere */
    width: 15vw;
}

.container-right{
    background-color: red; /* da togliere */
    width: 85vw;

}

.logo{
    background-color: greenyellow; /*  da togliere */
}

.container-btn{
    background-color: rgba(10, 30, 40, .5); /* da eliminare */
}

