*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
}

footer{
    height: 10vh;
    background-color: aqua; /* da eliminare */
}

main{
    overflow: hidden;
}

div.logo,
div.container-btn{
    min-height: 80px;
}

div.logo > img{
    width: 60%;
}

div.useless p{
    margin: 7% 0 ;
}

nav.flex-column{
    height: 88%;
    justify-content: space-between;
}

h4.txt-upp{
    padding-top: 6%;
}

div.container-right ul{
    list-style: none;
}

a.txt-upp{
    text-decoration: none;
    font-size: .7rem;
}

section.card-row{
    column-gap: 2%;
}


/* common class */
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.wrapping{
    flex-wrap: wrap;
}

.items-center{
    align-items: center;
}

.around{
    justify-content: space-around;
}

.half-width{
    width: 50%;
}

.center{
    margin: 0 auto;
}

.top-title-margin{
    margin-top: 3%;
}



.width-perc-full{
    width: 100%;
}

.view-height{
    height: 90vh;
}

.row-height-perc{
    height: 12%;
}

/* NON FUNZIONA PERCHE SI SPACCA IL CONTAINER ED ESCE TUTTO FUORI */
.overflow{
    overflow-y: auto;
}


.weight-seven{
    font-weight: 700;
}

.txt-upp{
    text-transform: uppercase;
}

.small-font{
    font-size: .85rem;
}

.txt-white{
    color: white;
}

.txt-grey{
    color: #7b7b7b;
}

.icon-grey{
    color: #a3a3a3;
}

.fa-home,
.fa-search,
.fa-list,
.fa-user-circle{
    font-size: 1.5rem;
}

.top-spacing-perc,
div.title-album h4{
    margin-top: 6%;
}

.card-row,
.fa-plus-square{
    margin-top: 2%;
}

.top-spacing-perc{
    height: 52%;
}

.fa-plus-square{
    font-size: 2.8rem;
}

.fa-home,
.fa-search,
.fa-list,
.fa-plus-square,
.fa-arrow-alt-circle-down,
.fa-user-circle{
    margin-right: 3%;
}

.multiple-margin{
    margin: 0 0 4% 6%;
}

.positioning{
    padding-left: 4%;
    margin-bottom: 4%;
}

.vertical-select-mark{
    border-left: 3px solid greenyellow;
}

.line{
    width: 92%;
    border-bottom: 2px solid gray;
    padding-bottom: 3%;
}

.top-padd{
    padding-top: 1%;
}

div.card{
    width: 160px;
    text-align: center;
}

div.cover img{
    height: 160px;
}

/* container class */
.container-left{
    background-color: black; /* da togliere */
    width: 15vw;
}

.container-right{
    background-color: #141922;
    width: 85vw;
}

.sub-container-main{
    width: 97%;
}

.logo{
    background-color: rgb(0, 0, 0); /*  da togliere */
}

.container-btn{
    background-color: rgba(0, 0, 0, .5); /* da eliminare */
}

